{% extends "accounts/base1.html" %}


{% block content %}


<div class="container mt-4">
    <h2>Edit Profile</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}">
        </div>
        <div class="mb-3">
            <label for="emailId" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailId" name="emailId" value="{{ user.emailId }}" disabled>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" value="{{ user.city }}">
        </div>
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
</div>
{% endblock %}
